/* body---------------------------------- */
body {
    color: #f0f0f0;
    background-color:#000;
    font-family: 'Alegreya Sans SC', sans-serif;
    line-height: 1.5;
}
img {
    width: 100%;
    height: auto;
}
a {
    text-decoration: none;
    color: #082b48;
}
a:hover {
    opacity: 0.7;
}
.container {
    width: 90%;
    max-width: 980px;
    margin: auto;
}

/* ----------------------------------------------------------- */
.site-header{
    height:100px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    position:fixed;
    width:100%;
    background-color:rgba(0,0,0,.5);
    z-index:100;
}
.header-logo{
    width:auto;
    margin:0 0 0 50px;
    font-size:35px;
}
.header-logo a{
    color:#f0f0f0;
    text-decoration:none;
    font-weight:bold;
}
.header-list{
    width:auto;
    margin:0 50px 0 0;
    float:right;
    display:block;
}
.header-list li{
    float:left;
    list-style:none;
    padding-left:20px;
}
.header-list li:hover{
    opacity:0.7;
    cursor:pointer;
}
.header-list li a{
    color:#f0f0f0;
    text-decoration:none;
} 
.ham-btn{
    height:50px;
    width:50px;
    position:fixed;
    top:10px;
    right:4px;
    display:flex;
    justify-content:center;
    align-items:center;
    visibility:hidden;
    z-index:2;
}
.ham-icon{
    width:40px;
    height:36px;
    position:relative;
}
.ham-icon span{
    display:block;
    width:100%;
    height:4px;
    background-color:#f0f0f0;
    border-radius:4px;
    position:absolute;
}
.ham-icon span:nth-child(1){
    top:0;
    transition:0.5s;
}
.ham-icon span:nth-child(2){
    top:16px;
    transition:0.5s;
}
.ham-icon span:nth-child(3){
    bottom:0;
    transition:0.5s;
}
.nav{
    visibility:hidden;
    background-color:#f0f0f0;
    color:#000;
    opacity:0.9;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:-100vw;
    z-index:1;
    text-align:center;
    transition:0.7s;
    padding-top:100px;
}
.nav li{
    width:100%;
    float:left;
    list-style:none;
    align-items:center;
}
.nav li a{
    color:#000;;
    text-decoration:none;
    display:block;
    height:50px;
    line-height:50px;
    transition:4s;
}
/* ------------------------------------------------------------- */
.top-wrapper{
    height:100vh;
    width:100%;
    position:relative;
}
.message{
    position:absolute;
    width:100%;
    top:50%;
    text-align:center;
}
.message p{
    font-size:60px;
    letter-spacing:120px;
    transition:3s;
    opacity:0;
}
.move-target{
    width:100%;
    height:700px;
    display:flex;
    justify-content:center;
    flex-direction:row;
    margin-top:100px;
    opacity:0.0;
    transform:translateY(100px);
    transition:1.5s;
}
.move-target:nth-child(4){
    flex-direction:row-reverse;
}
.detail{
    width:45%;
}
.title{
    margin:20px 0 0 20px;
}
.title h1{
    font-size:32px;
}
.title h2{
    font-size:18px;
    font-weight:lighter;
    opacity:.8;
}
.content{
    margin:50px 40px 0 20px;
}
.content p{
    line-height:22px;
}
.content ul{
    padding-top:30px;
}
.specific-li li{
    margin-left:40px;
    list-style:square;
}
.specific-li li:not(:first-child){
    padding-top:10px;
}
.specific-li li a{
    color:#f0f0f0;
    text-decoration:none;
}
.specific-li li:hover{
    opacity:.7;
}
.picture-zone{
    width:45%; 
}
.picture{
    width:100%;
    height:100%;
}
.picture, img{
    width:100%;
    height:100%;
}
video{
    margin:100px 5% 0 5%;
    width:90%;
}
/* ------------------------------------------------------------- */
.site-footer{
    height:100px;
    width:100%;
    padding-top:70px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.footer-list{
    width:auto;
    margin:0 0 0 50px;
}
.footer-list li{
    float:left;
    list-style:none;
}
.footer-list li:not(:first-child){
    padding-left:20px;
}
.footer-list li:hover{
    opacity:0.7;
    cursor:pointer;
}
.footer-list li a{
    color:#f0f0f0;
    text-decoration:none;
} 
.footer-right{
    width:auto;
    margin:0 50px 0 0;
}
.footer-right p{
    font-size:12px;
}

/* Tablet-size 対応 css */
@media screen and(min-width:401px) and (max-width:950px){

}

/* iphone-size 対応 css */
@media screen and (max-width:400px){
    body{
        width:100%;
    }
    .header-logo{
        margin:0 0 0 10px;
    }
    .header-logo{
        width:60%;
    }
    .header-list{
        visibility:hidden;
    }
    .ham-btn{
        visibility:visible;
        z-index:101;
    }
    .nav.active{
        position:fixed;
        opacity:0.9;
        visibility:visible;
        left:0;
    }
    .ham-icon.active span:nth-child(1){
        top:16px;
        transform:rotate(45deg);
        background-color:#cccccc;
    }
    .ham-icon.active span:nth-child(2){
        opacity:0;
    }
    .ham-icon.active span:nth-child(3){
        top:16px;
        transform:rotate(-45deg);
        background-color:#cccccc;
    }
    .message{
        width:100%;
        left:2%;
        right:2%;
        top:50%;
        text-align:center;
    }
    .message p{
        display:block;
        font-size:50px;
        letter-spacing:8px;
    }
    .move-target{
        height:auto;
        flex-direction:column;
        padding-top:40px;
    }
    .detail{
        width:100%;
    }
    .picture-zone{
        margin-top:30px;
        width:100%;
    }
    .picture{
        width:60%;
        height:300px;
        margin:0 auto;
    }
    video{
        margin:50px 0 0 0;
        width:100%;
    }
    .move-target:nth-child(4){
        flex-direction:column;
    }
    footer{
        height:100px;
        padding-top:20px;
    }
    .footer-list{
        visibility:hidden;
        width:30%;
        margin:0 20px;
    }
    .footer-list li{
        padding-top:4px;
    }
    .footer-right{
        width:70%;
        margin:0 0;
        padding-right:0;
    }
}