/* -----whole web site----- */
body {
    color: #f0f0f0;
    background-color:#000;
    font-family: 'Alegreya Sans SC', sans-serif;
    line-height: 1.5;
}
img {
    width: 100%;
}
video {
    width: 100%;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #f0f0f0;
}
a:hover {
    opacity: 0.7;
}
section {
    margin-bottom: 70px;
}
.container {
    width: 90%;
    max-width: 1120px;
    margin: auto;
}
.d-flex {
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.reverse-flex {
    flex-direction: row-reverse;
}
.flex-size {
    width: 50%;
    margin: 0 10px;
}
.detail {
    padding: 30px;
}
.section-img {
    object-fit: contain;
    /* border-radius: 20%; */
}
/* -----header----- */
header {
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 70px;
    background-color:rgba(0,0,0,.7);
    position: fixed;
    margin-right: 5%;
    margin-left: 5%;
    z-index: 100;
}
.logo {
    max-width: 400px;
    width: 100%;
    height: 100%;
}
.header-nav {
    transform: translateY(100%);
}
.header-nav-item {
    font-size: 20px;
    margin-right: 20px;
    transition: .5s;
}
.section-title {
    text-align: center;
    font-size: 54px;
    font-weight: bold;
    margin-bottom: 20px;
}
/* -----hamburger menu----- */
.hamberger-menu {
    position: fixed;
    left: 0;
    display: none;
}
.hamberger-btn {
    height: 36px;
    width: 40px;
    position: fixed;
    top: 16px;
    right: 16px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    z-index: 200;
}
.hamberger-line {
    display: block;
    width: 100%;
    height: 4px;
    background-color: #f0f0f0;
    border-radius: 4px;
    transition: .5s;
}
/* .hamberger-line:nth-child(1) {
    transition: .5s;
}
.hamberger-line:nth-child(2) {
    transition: .5s;
}
.hamberger-line:nth-child(3) {
    transition: .5s;
} */
.hamburger-nav {
    background-color: #f0f0f0;
    opacity: .9;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: -100vw;
    z-index: 150;
    text-align: center;
    transition: .7s;
    padding-top: 70px;
}
.hamburger-nav-item a {
    font-size: 34px;
    line-height: 60px;
    color: #000;
}
/* -----top----- */
.top {
    padding-top: 70px;
    width: 100%;
    height: 100vh;
}
.top-message {
    text-align: center;
    font-size: 100px;
    font-weight: bold;
    transform: translateY(50%);
    letter-spacing: 36px;
}
/* -----about----- */
/* -----skills----- */
.cards {
    width: 100%;
    flex-wrap: wrap;
    gap: 5px;
}
.card {
    width: 30%;
    text-align: center;
}
.card svg {
    width: 200px;
    height: 200px;
}
.fa-icon {
    background-color: #f0f0f0;
}
/* -----service----- */
.service-text {
    margin-bottom: 20px;
}
.price-list {
    width: 100%;
}
td {
    padding: 5px;
}
/* -----works----- */
.work-text {
    margin-bottom: 20px;
}
/* -----blog----- */
.blog-text {
    margin-bottom: 20px;
}
/* -----contact----- */
form {
    margin: auto;
    width: 30%;
}
label, input, textarea {
    display: block;
    width: 100%;
}
input, textarea {
    margin-bottom: 10px;
}
.btn {
    cursor: pointer;
    padding: 10px 20px;
    font-size: 18px;
    width: 100%;
}
button:hover {
    opacity: .7;
}
/* -----footer----- */
footer {
    height: 70px;
}
.footer-nav, .footer-right {
    transform: translateY(100%);
}
.footer-nav-item {
    font-size: 20px;
    margin-left: 20px;
}
/* 
.move-target{
    width:100%;
    height:700px;
    display:flex;
    justify-content:center;
    flex-direction:row;
    margin-top:100px;
    opacity:0.0;
    transform:translateY(100px);
    transition:1.5s;
}
/* ------------------------------------------------------------- */

/* Tablet-size 対応 css */
@media screen and(min-width:401px) and (max-width:950px){}
/* iphone-size 対応 css */
@media screen and (max-width:400px){
    /* -----whole web site----- */
    .d-flex {
        display: block;
    }
    .flex-size {
        width: 90%;
        margin: auto;
    }
    .section-title {
        font-size: 32px;
    }
    .detail {
        padding: 0;
        margin-bottom: 20px;
    }
    /* -----header----- */
    .logo {
        width: 80%;
    }
    .header-list {
        display: none;
    }
    /* -----hamburger menu----- */
    .hamberger-menu {
        display: block;
    }
    .hamburger-nav.active{
        /* position:fixed; */
        /* visibility:visible; */
        left:0;
    }
    .ham-icon.active span:nth-child(1){
        top:16px;
        transform:rotate(45deg);
        background-color:#cccccc;
    }
    .ham-icon.active span:nth-child(2){
        opacity:0;
    }
    .ham-icon.active span:nth-child(3){
        top:16px;
        transform:rotate(-45deg);
        background-color:#cccccc;
    }
    /* -----top----- */
    .top-message {
        font-size: 54px;
        transform: translateY(100%);
        letter-spacing: 12px;
    }
    /* -----about----- */
    /* -----skills----- */
    .card {
        width: 90%;
        margin: auto;
        margin-bottom: 20px;
    }
    /* -----service----- */
    /* -----works----- */
    /* -----blog----- */
    /* -----contact----- */
    form {
        width: 70%;
    }
    /* -----footer----- */
    .footer-list {
        display: none;
    }
    .footer-right {
        text-align: center;
    }
}